*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 350px;
    height: 230px;
    background-color: blanchedalmond;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

h1{
    margin: 20px;
}

input{
    padding: 6px ;
    width: 80%;
}

button{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 7px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
}

#result{
    font-size: 20px;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
}