*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(to right, #ff416c, #ff4b2b);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
}
.container{
    width: 400px;
    height: 370px;
    background-color: pink;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

h1{
    margin-bottom: 20px;
}

h3{
    margin-top: 10px;
    margin-bottom: 5px;
}
input{
    width: 80%;
    font-size: 18px;
    padding: 7px;
    padding-left: 10px;
    border-radius: 20px;
    border: none;
}

input:focus{
    outline: none;
}
button{
    margin: 20px;
    padding: 9px;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

#result{
font-size: 20px;
}